<div class="row">
  <div class="col-sm-8">
    <a href="/">&larr; Back to contact list</a>
    <div class="alert alert-success" ng-if="alert">{{alert}}</div>
    <h3>&nbsp&nbsp&nbspAdd new contact</h3>
    <form class="form well" ng-submit="createContact()">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>First Name</label>
          <input ng-model="firstName" type="text" class="form-control" required>
        </div>
        <div class="form-group col-sm-6">
          <label>Last Name</label>
          <input ng-model="lastName" type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Email</label>
          <input ng-model="email" type="text" class="form-control">
        </div>
        <div class="form-group col-sm-6">
          <label>Phone</label>
          <input ng-model="phone" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>Company</label>
        <input ng-model="company" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Street Address</label>
        <input ng-model="addressStreet" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>City</label>
        <input ng-model="addressCity" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>State</label>
        <input ng-model="addressState" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Zip</label>
        <input ng-model="addressZip" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Notes</label>
        <textarea ng-model="notes" type="text" class="form-control"></textarea>
      </div>
      <button class="btn btn-primary">Add Contact</button>
    </form>
  </div>
</div>